<head>
  <meta charset="UTF-8">
  <title>Ankita Chaudhari</title>
  <link rel="icon" href="IMG_20190906_135556_2.jpg" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  
  
    <meta property="og:image" content="IMG_20190906_135556_2.jpg">
    <meta property="og:description" content="This is personal site created by Ankita Chaudhari for publishing content.
    The site contains resume and medium article of Ankita chaudhari. It also show the inspiring quotes">
    <meta property="og:title" content="Ankita Chaudhari">
</head>
